@font-face {
  font-family: 'Merriweather_Bold';
  src: url('../fonts/Merriweather_Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather_Regular';
  src: url('../fonts/Merriweather_Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}