%font-face-bold {
  font-family: 'Merriweather_Bold';
  src: url('../fonts/Merriweather_Bold.ttf') format('ttf');
}

%font-face-regular {
  font-family: 'Merriweather_Regular';
  src: url('../fonts/Merriweather_Regular.ttf') format('ttf');
}