.biography {
  display: flex;
  width: 100%;
  margin: 5rem 0 1rem;
  flex-direction: column;
  align-items: center;

  &__container {
    background-color: $the-color-of-the-blocks;
    border-radius: 15px;
    display: flex;
    width: 65rem;
    height: 30rem;
    margin: 1%;
    align-items: center;
  }

  &__title {
    color: $the-main-color-of-the-text;
    font-weight: 700;
    font-family: 'Merriweather_Regular';
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 4rem;
  }

  &__image {
    width: 238px;
    height: 290px;
    border-radius: 15%;
    object-fit: cover;
    margin: 4%;
  }

  & image:hover {
    transform: scale(1.3);
  }

  &__container_description {
    color: $the-main-color-of-the-text;
    display: flex;
    font-family: 'NotoSans_Regular';
    flex-direction: column;
    align-items: center;
  }

  &__title_fio {
    color: $the-main-color-of-the-text;
    font-family: 'NotoSans_Regular';
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
    margin: 0;
  }

  & p {
    padding: 1% 4%;
  }
}



@media (max-width: 1024px) {
  .biography {
    font-size: 0.8rem;
    margin: 2rem 0 1rem;

    &__title_fio {
      font-size: 1rem;
    }

    &__title {
      font-size: 1.1rem;
    }

    &__container {
      width: 50rem;
    }

    &__image {
      width: 204px;
      height: 263px;
      margin: 2%;
    }
  }
}

/* Адаптивные стили для устройств меньше 768px */
@media (max-width: 768px) {
  .biography {
    margin: 2rem 0 1rem;
    font-size: 0.8rem;

    &__title_fio {
      font-size: 1.1rem;
    }

    &__container {
      width: 40rem;
    }

    &__image {
      width: 186px;
      height: 211px;
      margin: 2%;
    }

    & p {
      padding: 1% 3%;
      font-size: 0.8rem;
    }

    &__title {
      font-size: 1.1rem;
      padding: 2rem 2rem;
    }
  }
}


/* Адаптивные стили для устройств меньше 640px */
@media (max-width: 640px) {
  .biography {

    &__container {
      width: 35rem;
    }

    & p {
      font-size: 0.7rem;
    }
  }
}

/* Адаптивные стили для устройств меньше 600px */
@media (max-width: 600px) {
  .biography {

    &__container {
      display: flex;
      width: 30rem;
      height: 35rem;
      flex-direction: column;
    }

    & p {
      font-size: 0.7rem;
    }
  }
}

/* Адаптивные стили для устройств меньше 425px */
@media (max-width: 425px) {
  .biography {
    margin: 2rem 0 1rem;
    font-size: 0.7rem;

    &__title_fio {
      font-size: 0.9rem;
    }

    &__container {
      flex-direction: column;
      width: 23rem;
      height: 38rem;
    }

    &__image {
      width: 153px;
      height: 182px;
    }

    & p {
      padding: 1% 3%;
      font-size: 0.7rem;
    }

    &__title {
      font-size: 1.1rem;
      padding: 1rem 2rem;
    }
  }
}

/* Адаптивные стили для устройств меньше 375px */
@media (max-width: 375px) {
  .biography {

    &__container {
      width: 20rem;
      height: 42rem;
    }

    &__image {
      width: 137px;
      height: 169px;
    }

    & p {
      font-size: 0.7rem;
    }
  }
}


/* Адаптивные стили для устройств меньше 320px */
@media (max-width: 320px) {
  .biography {
    &__container {
      width: 18rem;
      height: 35rem;
    }

    &__image {
      width: 121px;
      height: 148px;
    }


    &__title {
      font-size: 0.9rem;
      padding: 1rem 2rem;
    }

    & p {
      font-size: 0.6rem;
    }

  }
}