.description {
  display: flex;
  width: 100%;
  margin: 5rem 0;
  flex-direction: column;
  align-items: center;

  &__container {
    background-color: #F8F5E8;
    border-radius: 15px;
    display: flex;
    width: 45rem;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: #2d1300;
    font-weight: 700;
    font-family: "Merriweather_Regular";
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem 3rem;
  }

  &__img {
    width: 90%;
  }

  &__line {
    width: 83%;
    margin: 5rem 0;
    height: 2px;
    background-color: #BAA264;
  }
}