.directions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5rem 0 1rem;

  &__title {
    color: $the-main-color-of-the-text;
    font-weight: 700;
    @extend %font-face-regular;
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 4rem;
  }

  &__list {
    display: flex;
    gap: 28px;
    width: 87%;
    list-style: none;
    padding: 0;
    margin: 3rem;
    justify-content: space-evenly;
    flex-wrap: wrap;

    & li {
      display: flex;
      color: $the-main-color-of-the-text;
      font-weight: 600;
      @extend %font-face-regular;
      text-align: center;
      flex-grow: 1;
      flex-shrink: 1;
      padding: 1rem;
      height: 4.5rem;
      flex-basis: calc(50% - 10px);
      max-width: calc(39% - 10px);
      box-sizing: border-box;
      background-color: $the-color-of-the-blocks;
      border-radius: 15px;
      align-items: center;
    }
  }

  &__line {
    @include line;
  }
}


@media (max-width: 1024px) {
  .directions {
    margin: 2rem 0 1rem;

    &__list {
      gap: 27px;
      width: 100%;
      justify-content: center;

      li {
        font-size: 1rem;
      }
    }

    &__line {
      @include line-adaptiv;
    }
  }
}



@media (max-width: 768px) {
  .directions {
    margin: 2rem 0 1rem;

    &__title {
      font-size: 1.1rem;
      padding: 0rem 4rem;
    }

    &__list {
      gap: 16px;
      width: 100%;
      justify-content: center;

      li {
        font-size: 0.8rem;
        max-width: calc(46% - 10px);
      }
    }
  }
}

/* Адаптивные стили для устройств меньше 425px */
@media (max-width: 425px) {
  .directions {
    margin: 2rem 0 1rem;

    &__title {
      font-size: 1.1rem;
      padding: 0rem 1rem;
    }

    &__list {
      gap: 16px;
      width: 100%;
      flex-direction: column;
      align-items: center;

      li {
        font-size: 0.8rem;
        max-width: calc(93% - 10px);
      }
    }
  }
}


/* Адаптивные стили для устройств меньше 320px */
@media (max-width: 320px) {
  .directions {
    margin: 2rem 0 1rem;

    &__title {
      font-size: 0.9rem;
      padding: 0rem 1rem;
    }

    &__list {
      gap: 16px;
      width: 100%;
      margin: 1rem;

      li {
        font-size: 0.7rem;
        max-width: calc(85% - 10px);
      }
    }
  }
}