.footer {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 8rem;
  background: $header-footer-color;
  justify-content: space-around;
  margin: 4% 0 0 0;

  &__logo {
    font-size: 24px;
    font-weight: bold;
  }

  &__rights {
    display: flex;
    color: #2d1300;
    font-weight: 700;
    font-family: 'Merriweather_Regular';
    font-size: 0.8rem;
    height: 6rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    & p {
      margin: 4px;
    }
  }
}

/* Адаптивные стили для устройств меньше 768px */
@media (max-width: 768px) {
  .footer {
    &__rights {
      font-size: 0.6rem;
      width: 55%;
    }
  }
}


/* Адаптивные стили для устройств меньше 425px */
@media (max-width: 425px) {
  .footer {
    &__rights {
      font-size: 0.41rem;
      width: 310px;
    }
  }
}


/* Адаптивные стили для устройств меньше 375px */
@media (max-width: 375px) {
  .footer {
    &__rights {
      font-size: 0.48rem;
      width: 450px;
    }
  }
}


/* Адаптивные стили для устройств меньше 320px */
@media (max-width: 320px) {
  .footer {
    &__rights {
      font-size: 0.48rem;
      width: 140px;
    }
  }
}