.footer {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 8rem;
  background: $header-footer-color;
  justify-content: space-around;
  margin: 4% 0 0 0;

  &__logo {
    width: 70%;
  }

  &__rights {
    display: flex;
    color: #2d1300;
    font-weight: 700;
    font-family: 'Merriweather_Regular';
    width: 60rem;
    font-size: 0.8rem;
    height: 6rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    & p {
      margin: 4px;
    }
  }

  &__container {
    width: 7%;
  }
}


@media (max-width: 1024px) {
  .footer {
    &__logo {
      width: 85%;
    }

    &__rights {
      width: 45rem;
    }
  }
}

/* Адаптивные стили для устройств меньше 768px */
@media (max-width: 768px) {
  .footer {
    &__container {
      width: 12%;
    }

    &__rights {
      font-size: 0.6rem;
      width: 30rem;
    }
  }
}


/* Адаптивные стили для устройств меньше 425px */
@media (max-width: 425px) {
  .footer {
    &__rights {
      font-size: 0.45rem;
      width: 283px;
      text-align: center;
    }

    &__logo {
      width: 90%;
    }

    &__container {
      width: 18%;
    }
  }
}


/* Адаптивные стили для устройств меньше 375px */
@media (max-width: 375px) {
  .footer {
    &__rights {
      font-size: 0.48rem;
      width: 250px;
    }
  }
}


/* Адаптивные стили для устройств меньше 320px */
@media (max-width: 320px) {
  .footer {
    &__rights {
      font-size: 0.45rem;
      width: 140px;
    }

    &__logo {
      width: 70%;
    }
  }
}