.grantswon {
  display: flex;
  width: 100%;
  margin: 5rem 0 1rem;
  flex-direction: column;
  align-items: center;

  &__container {
    background-color: $the-color-of-the-blocks;
    border-radius: 15px;
    display: flex;
    width: 45rem;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    color: $the-main-color-of-the-text;
    font-weight: 700;
    @extend %font-face-regular;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 3rem;
  }

  &__img {
    width: 90%;
  }

  &__line {
    @include line;
  }
}