.grantswon {
  display: flex;
  width: 100%;
  margin: 5rem 0 1rem;
  flex-direction: column;
  align-items: center;

  &__container {
    background-color: $the-color-of-the-blocks;
    color: $the-main-color-of-the-text;
    border-radius: 15px;
    display: flex;
    width: 50rem;
    flex-direction: column;
    align-items: center;
    margin: 2%;
  }

  &__title {
    color: $the-main-color-of-the-text;
    font-weight: 700;
    font-family: 'Merriweather_Regular';
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 3rem;
  }

  &__img {
    width: 42%;
  }

  &__name {
    color: $the-main-color-of-the-text;
    font-family: 'NotoSans_Regular';
    font-weight: 700;
    font-size: 1.2rem;
    text-align: center;
    margin: 33px 0 0;
  }

  &__text {
    font-family: 'NotoSans_Regular';
    padding: 0 6%;
    font-size: 0.9rem;
  }

  &__line {
    @include line;
  }
}

@media (max-width: 1024px) {
  .grantswon {
    margin: 2rem 0 1rem;

    &__container {
      width: 43rem;
    }

    &__title {
      font-size: 1.1rem;
    }

    &__text {
      font-size: 0.8rem;
    }

    &__name {
      font-size: 0.9rem;
    }
  }
}

/* Адаптивные стили для устройств меньше 768px */
@media (max-width: 768px) {
  .grantswon {
    margin: 2rem 0 1rem;

    &__container {
      width: 38rem;
    }

    &__text {
      font-size: 0.8rem;
    }

    &__name {
      font-size: 1.1rem;
    }
  }
}

/* Адаптивные стили для устройств меньше 425px */
@media (max-width: 425px) {
  .grantswon {
    margin: 2rem 0 1rem;

    &__title {
      font-size: 1.1rem;
      padding: 1rem 2rem;
    }

    &__container {
      width: 22rem;
    }

    &__text {
      font-size: 0.7rem;
    }

    &__name {
      font-size: 0.9rem;
      padding: 0 15%;
    }
  }
}

/* Адаптивные стили для устройств меньше 375px */
@media (max-width: 375px) {
  .grantswon {
    &__img {
      width: 88%;
    }

    &__container {
      width: 20rem;
    }

    &__name {
      font-size: 0.9rem;
      padding: 0 17%;
    }
  }
}


/* Адаптивные стили для устройств меньше 320px */
@media (max-width: 320px) {
  .grantswon {
    &__img {
      width: 78%;
    }

    &__container {
      width: 16rem;
    }

    &__text {
      font-size: 0.6rem;
    }

    &__name {
      font-size: 0.8rem;
      padding: 0px 10px;
    }

    &__title {
      font-size: 0.9rem;
    }
  }
}