.header {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 5rem;
  background: $header-footer-color;
  justify-content: center;
  -webkit-box-shadow: 0px 7px 7px -3px rgba(80, 46, 34, 0.36);
  -moz-box-shadow: 0px 7px 7px -3px rgba(80, 46, 34, 0.36);
  box-shadow: 0px 7px 7px -3px rgba(80, 46, 34, 0.36);

  &__logo {
    font-size: 24px;
    font-weight: bold;
  }

  &__nav {
    display: flex;
    gap: 15px;
    width: 48rem;
    justify-content: space-evenly;
  }

  &__link {
    text-decoration: none;
    color: $the-main-color-of-the-text;
    font-weight: 700;
    font-family: "Merriweather_Regular";
    font-size: 1.5rem;

    &:hover {
      color: #210E00;
    }
  }
}