.header {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 5rem;
  background: $header-footer-color;
  justify-content: center;
  -webkit-box-shadow: 0px 7px 7px -3px rgba(80, 46, 34, 0.36);
  -moz-box-shadow: 0px 7px 7px -3px rgba(80, 46, 34, 0.36);
  box-shadow: 0px 7px 7px -3px rgba(80, 46, 34, 0.36);

  &__logo {
    font-size: 24px;
    font-weight: bold;
  }

  &__nav {
    display: flex;
    gap: 15px;
    width: 80rem;
    align-items: center;
    justify-content: space-evenly;
  }

  &__link {
    text-decoration: none;
    color: $the-main-color-of-the-text;
    font-weight: 700;
    font-family: 'Merriweather_Regular';
    font-size: 1.1rem;

    &:hover {
      color: #74231d;
    }
  }
}

// Стили для бургер-иконки
.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger_line {
  width: 100%;
  height: 3px;
  background-color: $the-main-color-of-the-text;
}

@media (max-width: 1024px) {
  .header {
    &__link {
      font-size: 0.8rem;
    }
  }
}

/* Адаптивные стили для устройств меньше 768px */
@media (max-width: 768px) {
  .header {
    justify-content: space-between;

    &__nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 7rem; // ниже шапки
      right: 0;
      background-color: $header-footer-color;
      width: 100%;
      height: 42%;
      text-align: center;
      padding: 1rem 0;
    }
  }

  .nav_open {
    display: flex;
    align-items: center;
  }

  .burger {
    display: flex;
    height: 26px;
    width: 38px;
  }

  /* Стили для крестика */
  .cross {
    position: relative;
    width: 20px;
    /* Можно подогнать под размеры кнопки */
    height: 20px;
    /* Можно подогнать под размеры кнопки */
  }

  .crossLine {
    position: absolute;
    top: 50%;
    left: 0;
    width: 27px;
    height: 1px;
    /* Высота линии */
    background-color: $the-main-color-of-the-text;
    transform-origin: center;
  }

  .crossLine:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .crossLine:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
}