.social {
  display: flex;
  align-items: center;
  width: 8%;
  justify-content: center;

  a {
    width: 40%;
  }

  &__img {
    width: 80%;
  }
}

/* @media (max-width: 1024px) {
  img {
    width: 95%;
  }
} */

/* Адаптивные стили для устройств меньше 768px */
@media (max-width: 768px) {
  .social {
    width: 20%;
    justify-content: space-evenly;
  }
}


/* Адаптивные стили для устройств меньше 425px */
@media (max-width: 425px) {
  .social {
    width: 15%;
    justify-content: space-evenly;
    padding: 7px;
  }
}


/* Адаптивные стили для устройств меньше 375px */
@media (max-width: 375px) {
  .social {
    width: 20%;
    justify-content: space-evenly;
    padding: 1px;
  }
}