.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5rem 0 1rem;

  &__title {
    color: $the-main-color-of-the-text;
    font-weight: 700;
    font-family: "Merriweather_Regular";
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem 3rem;
  }

  &__image {
    width: 184px;
    height: 184px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  & image:hover {
    transform: scale(1.3);
  }

  &__captionfio,
  &__jobtitle {
    text-align: center;
    font-size: 0.9rem;
    color: #333;
    max-width: 228px;
  }

  &__captionfio {
    margin-top: 20px;
    color: $the-main-color-of-the-text;
    font-weight: 600;
    font-family: "Merriweather_Regular";
    text-align: center;
  }

  &__jobtitle {
    margin-top: 0;
  }
}